

.cardwelcome{
    border: 1px solid #E2E8F0;
    background-color: #FFFEFE;
    color: #332C49;
    border-radius: 10px;    
    padding: 1em 0.75em;
    width: 100%;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;    
    box-sizing: border-box;
}
.cardwelcome__header{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cardwelcome__header__title{
    font-style: normal;
    font-weight: 300;
    font-size: 1.6em;
    text-align: left;
}
.cardwelcome__header__badge-filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
    position: relative;
}
.badge-filter{
    background-color: #4F46E5;
    color:#FFFEFE;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 4px;
}
.badge-filter-icon{
    font-size: 1.4em;
    color:#FFFEFE;
}
.menu-open-icon{
    font-size: 1.2em;    
}
.cardwelcome__header-btn-menu{
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.cardwelcome__header-btn-menu:hover{
    background-color: #332C49;
}

.cardwelcome__content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
}

#sales_value{
    font-size: 1.8em;
    font-weight: 400;
}

#sales_value_prev{
    font-weight: 300;
}

.cardwelcome__content__values{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0em;
}
.cardwelcome__content__values>p{
    margin: 0;
    padding: 0;
}

.cardwelcome__content__porcentage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}
.cardwelcome__content__porcentage__icon{
    font-size: 2em;
}

.badge-porcentage{
    padding: 4px 6px;   
    border-radius: 2px;
    display: flex;
    
    column-gap: 4px;
}

.increase_value{
    color: #205D0A;
    background-color: #CCFFDD;
    font-weight: 700;
    width: fit-content;    
}
.decrease_value{
    color: #5d0a0a;
    background-color: #ffcccc;
    font-weight: 700;
    width: fit-content;
}
.diffence_arrow{
    font-size: 1.6em;    
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Coloca el menú justo debajo del contenedor padre */
    left: 0; /* Alinea a la izquierda del badge */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: max-content; /* Ajusta al contenido o fija un ancho */
    min-width: 150px; /* Asegúrate de que tenga un tamaño mínimo */
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  