

.cardwelcome{
    border: 1px solid #E2E8F0;
    background-color: #FFFEFE;
    color: #332C49;
    border-radius: 10px;    
    padding: 1em 0.75em;
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.cardwelcome__header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
}

.cardwelcome__content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
}

#sales_value{
    font-size: 1.8em;
    font-weight: 400;
}

.cardwelcome__content__values{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0em;
}
.cardwelcome__content__values>p{
    margin: 0;
    padding: 0;
}

.cardwelcome__content__porcentage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}
.cardwelcome__content__porcentage__icon{
    font-size: 2em;
}

.increase_value{
    color: #205D0A;
    background-color: #CCFFDD;
    font-weight: 500;
    width: fit-content;
}
.decrease_value{
    color: #5d0a0a;
    background-color: #ffcccc;
    font-weight: 500;
    width: fit-content;
}
.diffence_arrow{
    font-size: 1.6em;    
}