.aside {   
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #332c49;
    margin: 0;
    padding: 0;
    padding: 20px 24px 20px 24px;
    z-index: 100;
 
}



.navbar {    
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background: #332c49;
    margin: 0;
    padding: 0;
    padding: 20px 24px 20px 24px;
    z-index: 100;
    box-shadow: 1px 0 5px #000000;
}

.navbar-logo{
    margin:10px 0 0 0 ;
}

.navbar-logo img{
 height: 25px;
 width: 130px;    

}

.navbar-child {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 75%;
    margin: 55px 0 0 0;
    
}

.navbar-child a {
    display: flex;
    align-items: center;
    width: 170px;
    padding: 6px 0 6px 15px;
    border-radius: 8px;
    text-align: start;
    font-size: 14px;
    transition: 0.2s;
   text-decoration: none;
   font-weight: 600;
   color: #968AB6;
}



.navbar-child i {
    font-size: 24px;
    padding: 0px 15px 0 0;
}

.navbar-child-activado {
    background: #4F46E5;
    color: #ffffff;
}
.navbar-child a:hover{
    scale: 1.1;
    color: #ffffff;
    transition: 0.2s;
    }

/* Segunda seccion */
.navbar-child-second {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.navbar-child-second button {
    display: flex;
    align-items: center;
    color: #968AB6;
    width: 170px;
    padding: 15px 0 15px 15px;
    border-radius: 8px;
    text-align: start;
    font-size: 14px;
    transition: 0.2s;
   text-decoration: none;
   font-weight: 600;
   background: none;
}


.navbar-child-second button:hover{
    background: none;
    scale: 1.1;
    color: #ffffff;
    transition: 0.2s;
    }

    .navbar-child-second button:active{
      color: #4F46E5;
      transition: 0s;
    }

.navbar-child-second button:hover{
scale: 1.1;
color: #ffffff;
transition: 0.2s;
}
.navbar-child-second button:focus {
    background: #4F46E5;
    color: #ffffff;
}
.navbar-child-second i {
    font-size: 24px;
    padding: 0px 15px 0 0;
}


.box-logout{
    position: flex;
    z-index: 200;
    width: 350px;
    height: 300px;
    background: #ffffff;
 margin: -365px 0 0 100px;
 border-radius: 10px;
 box-shadow: 0 0 10px #868686;
    scale:0;
    transition: 0.3s;
}
.box-logout-true{
    position: flex;
    z-index: 200;
    width: 350px;
    height: 300px;
    background: #ffffff;
 margin: -365px 0 0 100px;
 border-radius: 10px;
 box-shadow: 0 0 10px #868686;
 scale: 1;
 transition: 0.3s;
}
.box-logout-close{
 display: flex;
 justify-content: end;
 width: 100%;
}
.box-logout-close button{
    display: flex;
    align-items: center;
    color: #968AB6;
    width: 40px;
    padding: 15px 0 15px 15px;
    margin: 0 0 0 0;
    border-radius: 8px;
    text-align: start;
    font-size: 20px;
    transition: 0.2s;
   text-decoration: none;
   font-weight: 600;
   background: none;
}
.box-logout-close button:hover{
     color: #261ddb;
    background: none;
}
.box-logout-icon{
    font-size: 30px;
    padding: 25px 0 0 0;
}
.box-logout-email{
    padding: 15px 0 0 0;
    font-size: 20px;
}
.box-logout-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
}
.box-logout-button button{
    color: #661ddb;
    border: 2px solid #761ddb;
    width: 300px;
    padding: 8px 0 8px 5px;
    border-radius: 8px;
    text-align: start;
    font-size: 18px;
    transition: 0.2s;
   text-decoration: none;
   font-weight: 600;
   background: none;
   text-align: center;
}
.box-logout-button button:hover{
    background: #561ddb;
    color: #ffffff;
}

/*Version Desktop*/
@media (min-width: 800px) {
    .aside { 
        position: static;
        top: 0;
        left: 0;
    }
}

@media (max-width: 578px){
    .aside {   
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width:90px;
        background: #332c49;
        margin: 0;
        padding: 0;
        padding: 20px 24px 20px 24px;
        z-index: 100;
     
    }
    
    
    
    .navbar {    
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 90px;
        background: #332c49;
        margin: 0;
        padding: 0;
        padding: 20px 24px 20px 24px;
        z-index: 100;
        box-shadow: 1px 0 5px #000000;
    }
    .navbar-logo img{
        height: 25px;
        width: 50px;    
       
       }
       
       .navbar-child {
           display: flex;
           flex-direction: column;
           gap: 24px;
           height: 75%;
           margin: 55px 0 0 0;
           
       }
       
       .navbar-child a {
           display: flex;
           align-items: center;
           color: #968AB6;
           width: 50px;
           padding: 6px 0 6px 15px;
           border-radius: 0px;
           text-align: start;
           font-size: 0px;
           transition: 0.2s;
          text-decoration: none;
          font-weight: 600;
       }
       .navbar-child a:focus{
        background: none;
        border-bottom: 3px solid #ffffff;
        border-radius: 0 0 2px 2px ;
       }
       .navbar-child-second a{
        font-size: 0;
       }

       .navbar-child-second a:focus{
        background: none;
        color: #ffffff;
       }
}
