.box-sucursal{
    position: absolute;
    width: 1000px;
    margin: 0 0 0 30%;
    
}


.box-sucursal-title{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 30px 0 0 0px;
    font-size: 24px;
    color:  #252525;
}
.box-sucursal-title i{
    font-size: 20px;
    padding: 0 5px 0 0;
    color: #a093b3;
}

.box-sucursal-description{
    text-align: start;
    color: #a093b3;
}
.box-sucursal-filter{
    text-align: start;
   padding: 20px 0 0 0;
}
.box-sucursal-filter input{
    width: 800px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #e6e6e6;
    font-size: 16px;
}
.box-sucursal-card{
    text-align: start;
    padding: 20px 0 0 0;
    width: 800px;
    margin:20px 0 0 0;
    border-radius: 7px;
    background: #ffffff;
}
.box-sucursal-card-child{
    border: 2px solid #e6e6e6;
    margin: 0px 25px 15px 25px;
    background: #ffffff;
    border-radius: 5px;
    transition:  0.3s;
    cursor: pointer;
}
.box-sucursal-card-child:hover{
    transition:  0.3s;
    background: rgba(240, 229, 254, 1);
    scale: 1.05;
}

.box-sucursal-card-child-title{
padding: 15px 0 0 15px;
font-size: 18px;
color:  #3f3f3f;
}
.box-sucursal-card-child-title i{
    font-size: 16px;
    padding: 0 5px 0 0;
    color: #a093b3;
}
.box-sucursal-card-child-description{
    padding: 0px 0 0 15px;
    font-size: 14px;
    color: #a093b3;
}


.box-sucursal-card-child-icons{
    text-align: end;
    padding: 0px 20px 10px 0;
    

}

.box-sucursal-card-child-icons span{
    padding: 2px 10px 2px 10px;
    background:rgba(240, 229, 254, 1);
    margin: 0 10px 0px 0;
    border-radius: 5px;
    color: #353535;
   }
