.container-dark {
    background-color: #332C49;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.logo {
    padding: 30px;
    width: 15vw;
}

form {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

form > input{
    font-size: 20px;
    border-radius: 6px;
    width: 96%;
    color: #968AB6;
    padding: 18px;
    background-color: white;
    margin: 16px;
}

.btnLogin {
    background-color: #4F46E5;
    border-radius: 5px;
    color:white;
    width: 100%;
    margin: 16px;
    padding: 8px;
}
